<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ipbeja.pdm.cantinhodosanimais">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CantinhoDosAnimais">
        <!--<fragment android:name=".AboutActivity"></activity>-->
        <activity android:name=".MainContainerAdminActivity" />
        <activity android:name=".MainContainerUserActivity" />
        <!--<fragment android:name=".UserAdoptionsActivity" />
        <fragment android:name=".AdminAdoptionsActivity" />
        <fragment android:name=".MainAdminActivity" />-->
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdoptionQuestionnaireActivity" />
        <activity android:name=".SeeAnimalActivity" />
       <!-- <fragment android:name=".AddAnimalActivity" />
        <fragment android:name=".MainUserActivity" />-->
        <activity android:name=".SignUpActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>